/*common style*/
body {
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
max-width: 1145px;
margin: 0 auto;
}
.btn{
   color: #FFFFFF;
   font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 12px;
letter-spacing: 1.8px;
text-transform: uppercase;
background: #FF0000;
border-radius: 4px;
padding: 18px 43px;
}